*{
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color:#B1DF9B;
    }
  
#title {
    background-color: aliceblue;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 300px;
    margin-left: 250px;
    margin-top: 40px;
    }

#title h1{
    margin-left: 60px
    }
  
#sub-title{
    display: grid;
    margin-top: 30px;
    }

#sub-title span{
     width: 500px;
    margin-left: 150px;
    font-size: larger;
    text-align: center;
    }
  
#arrow{ 
    display: grid;
    justify-content: center;
    }

#arrowImg{
    margin-top: 20px;
    width: 100px;
    justify-content: center;
    }
 
#login {
    display: grid;
    justify-content: center;  
    }
  
#login a{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    background-color: #3D9C03;
    font-size: 20px; 
    color: white;
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    
    }
  
#login:hover{
  opacity: 0.5;
  }

#login a:active{
  box-shadow:2px 2px 4px #000000
  }