*{
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color:#B1DF9B;
    }


#container{
    display: grid;
    justify-content: center;
    align-items: center;
}
#title {
    background-color: aliceblue;
    width: 28%; 
    margin-top: 40px;
    margin-left: 36%;
    display: grid;   
    }

#title span{
    margin-left: 13%;
    font-size: 4vw;
    font-weight: 800;
    
    }
  
#sub-title{
    display: grid;
    margin-top: 30px;
    }

#sub-title span{
     width: 50%;
    margin-left: 25%;
    font-size: larger;
    text-align: center;
    }
  
#arrow{ 
    display: grid;
    justify-content: center;
    }

#arrowImg{
    margin-top: 1%;
    width: 20%;
    margin-left: 39%;
    justify-content: center;
    }
 
#login {
    display: grid;
    justify-content: center;  
    }
  
#login a{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    background-color: #3D9C03;
    font-size: 20px; 
    color: white;
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    
    }
  
#login:hover{
  opacity: 0.5;
  }

#login a:active{
  box-shadow:2px 2px 4px #000000
  }


#voltar {
    display: grid;
    justify-content: center;
    display: none;
    }
  
#voltar a{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    background-color: #3D9C03;
    font-size: 20px; 
    color: white;
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    }

#voltar:hover{
  opacity: 0.5;
    }

#voltar a:active{
  box-shadow:2px 2px 4px #000000
    }

#sub-title1{
    margin-top: 30vw;
    display: none;
    width: 50%;
    margin-left: 25%;
    font-size: larger;
    text-align: center;
    }

#arrow1{
    display: none;
    justify-content: center;
    }
